/*
   Copyright 2021 Lumiun Tecnologia LTDA - ME

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/
@media screen, print {
  /* *** TIPOGRAFIA BASICA *** */

  * {
    background-color: white;
    font-family: "Arial Narrow";
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .notice {
    color: red;
  }

  /* *** LOGOS *** */
  #logo-banco img {
    width: 150px;
    margin-right: 5px;
  }

  /* *** LINHAS GERAIS *** */

  #container {
    width: 666px;
    margin: 0px auto;
  }

  #header {
    margin: 0;
    padding: 0 0 0 0;
  }

  #boleto {
    width: 666px;
    margin: 10px 0 0 0;
    padding: 0;
  }

  /* *** CABECALHO *** */

  #logo-beneficiario {
    width: 666px;
    padding-left: 5px;
    position: relative;
  }

  #logo-beneficiario img {
    margin-top: 13px;
    height: 60px;
  }

  #link-beneficiario {
    position: absolute;
    right: 10px;
    top: 36px;
  }

  #link-beneficiario a {
    font-size: 1.2rem;
  }

  #link-beneficiario a:link,
  a:visited {
    color: #00a1db;
  }

  #description {
    border-bottom: 1px black solid;
    margin-top: 20px;
    height: 180px;
  }

  #description td {
    height: 80px;
    font-size: 1.2rem;
    padding-left: 2px;
    margin-bottom: 5px;
    line-height: 1.5;
  }

  #description td.top {
    vertical-align: top;
  }

  #description td.bottom {
    vertical-align: bottom;
  }

  /* *** BOLETO *** */

  #boleto .cut {
    width: 666px;
    margin: 0px auto;
    border-bottom: 1px navy dashed;
  }

  #boleto .cut p {
    margin: 0 0 5px 0;
    padding: 0px;
    font-size: 9px;
    color: navy;
  }

  .text-lg {
    font-size: 14px !important;
    font-weight: bold;
  }

  table.header {
    width: 666px;
    height: 28px;
    margin-bottom: 10px;
    border-bottom: 2px navy solid;
  }

  table.header div.field-cod-banco {
    width: 56px;
    height: 19px;
    margin-left: 10px;
    padding-top: 3px;
    text-align: center;
    font: bold 15px Arial;
    color: navy;
    border-right: 2px solid navy;
    border-left: 2px solid navy;
  }

  table.header td.linha-digitavel {
    text-align: right;
    padding-top: 3px;
    font: bold 15px Arial;
    color: navy;
  }

  table.line {
    margin-bottom: 1px;
    padding-bottom: 1px;
    border-bottom: 1px black solid;
  }

  table.ln-1 {
    border-bottom: none;
  }

  table.ln-2 {
    height: 27px;
  }

  table.line tr.titulos td {
    height: 13px;
    font-size: 9px;
    color: navy;
    border-left: 5px #ffe000 solid;
    padding-left: 2px;
  }

  table.line tr.campos td {
    height: 12px;
    font-size: 10px;
    color: black;
    border-left: 5px #ffe000 solid;
    padding-left: 2px;
  }

  table.line td p {
    font-size: 10px;
  }

  table.line tr.campos td.fc-vencimento,
  table.line tr.campos td.fc-beneficiario-ag-cod,
  table.line tr.campos td.fc-nosso-numero,
  table.line tr.campos td.fc-xvalor,
  table.line tr.campos td.fc-valor-original {
    text-align: right;
    padding-right: 5px;
  }

  table.line tr.campos td.fc-especie-doc,
  table.line tr.campos td.fc-aceite,
  table.line tr.campos td.fc-carteira,
  table.line tr.campos td.fc-especie,
  table.line tr.campos td.fc-data-doc,
  table.line tr.campos td.fc-data-processamento,
  table.line tr.campos td.fc-qtd {
    text-align: center;
  }

  table.line td.last_line {
    vertical-align: top;
    height: 25px;
  }

  table.line td.last_line table.line {
    margin-bottom: -5px;
    border: 0 white none;
  }

  td.last_line table.line td.instrucoes {
    border-left: 0 white none;
    padding-left: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20px;
    vertical-align: top;
  }

  /* Linha 2 Recibo do Pagador  */
  table.line td.rp-pagador-nome {
    width: 220px;
  }

  table.line td.rp-pagador-documento {
    width: 133px;
  }

  table.line td.rp-pagador-endereco {
    width: 313px;
  }

  /* Linha 3 Recibo do Pagador  */
  table.line td.rp-avalista {
    width: 666px;
  }

  /* Linha 4 Recibo do Pagador  */
  table.line td.rp-nosso-numero {
    width: 172px;
  }

  table.line td.rp-numero-doc {
    width: 112px;
  }

  table.line td.rp-contrato-cobr {
    width: 112px;
  }

  table.line td.rp-vencimento {
    width: 97px;
  }

  table.line td.rp-valor-original {
    width: 138px;
    background-color: #ffc;
    font-weight: bold;
  }

  /* Linha 5 Recibo do Pagador */
  table.line td.rp-beneficiario-rz-social {
    width: 220px;
  }

  table.line td.rp-beneficiario-cnpj {
    width: 133px;
  }

  table.line td.rp-beneficiario-endereco {
    width: 313px;
  }

  /* Linha 6 Recibo do Pagador */
  table.line td.rp-beneficiario-ag-cod {
    width: 666px;
    padding-top: 12px;
  }

  div.rp-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    margin-bottom: 15px;
  }

  div.rp-footer p {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 0;
    padding: 0;
    font-size: 9px;
    color: navy;
  }

  /* Linha 2 Ficha de Compensação */
  table.line td.fc-local-pagto {
    width: 472px;
  }

  table.line td.fc-vencimento {
    width: 175px;
    padding-right: 5px;
    background-color: #ffc;
    font-weight: bold;
  }

  /* Linha 3 Ficha de Compensação */
  table.line td.fc-beneficiario-rz-social {
    width: 472px;
  }

  table.line td.fc-beneficiario-ag-cod {
    width: 175px;
    padding-right: 5px;
  }

  /* Linha 4 Ficha de Compensação */
  table.line td.fc-data-doc {
    width: 88px;
  }

  table.line td.fc-numero-doc {
    width: 88px;
  }

  table.line td.fc-contrato-cobr {
    width: 88px;
  }

  table.line td.fc-especie-doc {
    width: 53px;
  }

  table.line td.fc-aceite {
    width: 28px;
  }

  table.line td.fc-data-processamento {
    width: 92px;
  }

  table.line td.fc-nosso-numero {
    width: 175px;
    padding-right: 5px;
  }

  /* Linha 5 Ficha de Compensação */
  table.line td.fc-uso-banco {
    width: 88px;
    background-color: #ffc;
  }

  table.line td.fc-carteira {
    width: 88px;
  }

  table.line td.fc-especie {
    width: 88px;
  }

  table.line td.fc-qtd {
    width: 88px;
  }

  table.line td.fc-xvalor {
    width: 87px;
  }

  table.line td.fc-valor-original {
    width: 175px;
    padding-right: 5px;
    background-color: #ffc;
    font-weight: bold;
  }

  /* Linha 6 Ficha de Compensação */
  table.line td.fc-instrucoes {
    width: 474px;
  }

  @media screen {
    table.line td.fc-pb {
        padding-bottom: 60px;
      }
  }

  @media print {
      table.line td.fc-pb {
        padding-bottom: 52px;
      }
  }

  table.line td.fc-instrucoes p {
    margin-top: 2px;
    margin-left: 2px;
  }

  table.line td.fc-desconto {
    width: 175px;
    padding-right: 5px;
  }

  table.line td.fc-outras-deducoes {
    width: 175px;
    padding-right: 5px;
  }

  table.line td.fc-mora-multa {
    width: 175px;
    padding-right: 5px;
  }

  table.line td.fc-outros-acrescimos {
    width: 175px;
    padding-right: 5px;
  }

  table.line td.fc-valor-cobrado {
    width: 175px;
    padding-right: 5px;
    background-color: #ffc;
  }

  /* Linha 7 Ficha de Compensação */
  table.line td.fc-pagador {
    width: 666px;
  }

  table.line td.fc-pagador p {
    margin-top: 2px;
    margin-left: 2px;
  }

  /* Linha 8 Ficha de Compensação */
  table.line td.fc-avalista {
    width: 472px;
  }

  table.line td.cod_baixa {
    color: navy;
    width: 180px;
  }

  div.fc-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: flex-start;
    margin-bottom: 30px;
    margin-right: 5px;
  }

  div.fc-footer p {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 0;
    padding: 0;
    font-size: 9px;
    color: navy;
  }

  .barcode {
    height: 50px;
  }

  .barcode div {
    display: inline-block;
    height: 100%;
  }

  .barcode .black {
    border-color: #000;
    border-left-style: solid;
    width: 0px;
  }

  .barcode .white {
    background: #fff;
  }

  .barcode .thin.black {
    border-left-width: 1px;
  }

  .barcode .large.black {
    border-left-width: 3px;
  }

  .barcode .thin.white {
    width: 1px;
  }

  .barcode .large.white {
    width: 3px;
  }
}
